.phoneIcon {
  margin-bottom: 25px;
}

p.helperText {
  font-size: 18px;
  margin-bottom: 36px;
}

p.agreeText {
  font-size: 16px;
  margin-bottom: 0;
}

.btnActivate {
  margin-top: 24px;
}

.formGroup {
  margin-bottom: 38px;
}

.phoneNumberGroup {
  border: 1px solid #e5e5ea;
  border-radius: 4px;
  padding: 8px 14px;
  display: flex;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.phoneNumberGroup:focus-within {
  border-color: #1877f2;
  background-color: #fff;
  border-color: #93c0fa;
  outline: 0;
  box-shadow: 0 0 0 3.2px rgba(25, 121, 245, 0.25);
}

.countryCode {
  background-color: #efeff4;
  border-radius: 4px;
  padding: 10px 12px;
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
}

.code {
  margin-left: 8px;
}

.formGroup input {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.375;
  background-color: transparent;
  background-clip: padding-box;
  border: unset;
  flex: 1 1 auto;
}

.formGroup input:focus {
  outline: unset;
}

p.formHelper {
  text-align: left;
  margin: 8px 0 0 0;
  font-size: 14px;
  color: #585858;
}

.formGroupError .phoneNumberGroup {
  border-color: #FF3B30;
}

.formGroupError .formHelper {
  color: #FF3B30;
}

.btnLogin {
  margin-bottom: 38px;
}

p.resendText {
  margin-bottom: 0;
}

.btnVerifikasi {
  margin-bottom: 26px;
}